<div>
    <app-wdget-area></app-wdget-area>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-wdget-card label="New Users" total="18k" percentage="50"></app-wdget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-wdget-card label="Users retention" total="20k" percentage="70"></app-wdget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-wdget-card label="Users engagement" total="10k" percentage="20"></app-wdget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-wdget-card label="Referral" total="6k" percentage="50"></app-wdget-card>
    </mat-card>
</div>

<br>

<mat-divider></mat-divider>

<br>

<div>
    <div>Table</div>
    <div>Pie Chart</div>
</div>